$primary: indigo;
$success: mediumseagreen;
$warning: darkorange;
$danger: darkred;

$headings-font-family: 'Heebo', sans-serif;
$font-family-sans-serif: 'Heebo', sans-serif;

$theme-colors: (
    primary: $primary,
    success: $success,
    danger: $danger
);